<% include partials/header %>
<body>
  <h1><%= __('views.index.Calculator') %></h1>
  <div><%= __('views.index.Hello') %></div>
  <br />
  <div>
    <%= __('views.index.your_language_is') %>
  </div>
  <form action="/" method="post">
    <input
      type="text"
      name="num1"
      placeholder="<%= __('placeholder.First_Number') %>"
    />
    <input
      type="text"
      name="num2"
      placeholder="<%= __('placeholder.Second_Number') %>"
    />
    <button type="submit" name="submit">
      <%= __('views.index.Calculate') %>
    </button>
  </form>
</body>
