<% include partials/header %>
<body>
  <h1><%= __('Calculator') %></h1>
  <div><%= __('Hello') %></div>
  <br />
  <div>
    <%= __('Your language is') %>
  </div>
  <form action="/" method="post">
    <input
      type="text"
      name="num1"
      placeholder="<%= __('placeholder.First_Number') %>"
    />
    <input
      type="text"
      name="num2"
      placeholder="<%= __('placeholder.Second_Number') %>"
    />
    <button type="submit" name="submit"><%= __('Calculate') %></button>
  </form>
</body>
